// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/home";
@import "modules/navigation";



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	background: white;
	@extend .font-body;
	color: $base-color;
		}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

div.rss2html-note{
	display: none;
}

div.top{
	padding-top:$para*2;
	padding-bottom:10px;
	@include respond-to($d-vp){
	padding-top: 30px;
	padding-bottom: 50px;
	}
}

ul.nav{
	margin: 0 !important;
	@include adjust-font-size-to(16px);
	list-style: none !important;
	li{
		@include respond-to($d-vp){
		display: inline-block;
		}
		margin-right: 10px;
		border-bottom:1px solid;
		padding-bottom: 3px;
	}
	@include respond-to($d-vp){
	padding-top: 30px;
	padding-bottom: 50px;
	}

}

p.align-right{
	@include respond-to($d-vp){
	text-align: right !important;
	}
}

h1.title{
    padding-bottom: 5px;
    font-size: 3em !important;
		padding-top: 30px;
    @include respond-to($d-vp){
    padding-bottom: 10px;
		padding-top: 0px;
    }
}

img.full-width-img{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.samples{
	@include trailer(24);
	img, video, iframe{
		width: 100%;
		@include trailer(4);
		margin-right: 1%;
	}
	a{
		text-decoration: underline;
	}
	.framed{
		outline: 1px solid black;
	}
	img.side-by-page{
		width: 49%;
		float: left;
	}
	img.sm-gutter{
		margin-right: 1%;
	}
}

* {
  box-sizing: border-box;
}

.sticky{
	a{
		text-decoration: underline;
	}
	ul, li{
		margin: 0 !important;
		padding: 0;
	}
	display: table-header-group;
	@include respond-to($e-vp){
  position: sticky;
  top: 40px;
  float: left;
	background-color: white;
	z-index: 1;
	min-height: 450px;
	}
}

hr {
	clear: both;
	margin-top:20px;
	margin-bottom:50px;
}

div.footer{
	ul{
		list-style-type: none;
	}
}
.cv{
	b{
		@include trailer(2);
	}
} 
.cv li {
	list-style-type: circle;
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system
@import "libs/feeds";


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
