
div.last-draft{
  min-height: 400px;
  @include respond-to($c-vp){
    min-height: 600px;
  }
  margin-bottom: $para;
  h2{
    text-transform: capitalize;
    padding-top: 100px;
    padding-left: $para;
    @include respond-to($c-vp){
      padding-left: $para*2;
      padding-top: 250px;
      word-break: initial;
      hyphens: auto;
    }
    color: white;
    font-weight: bold;
    font-size: 4em;
    word-break: break-all;
    // text-align: center;
  }
}
div.home-content{
  img{
    width: 100%;
  }
}
div.hero-detail{
  p{
    float: left;
    a{
    display: none;
    }
    i{
      display: none;
    }
  }
  p.hero-detail-text{
    float: left;
    font-family: monospace;
  }
  blockquote{
    display: none;
  }
  blockquote:first-of-type{
    display: block;
    margin: 0;
    padding-left: $para/2;
    font-family: monospace;
    float: left;
    font-size: 1em;
  }
  strong{
    display: none;
  }
}
div.about{
  display: none;
}
div.feed{
  a.toggle-visible{
    font-size: 1.1em;
    font-family: monospace;
  }
  ul{
    margin-left: 0em;
    li{
      padding-top: $para/2;
      list-style-type: none;
      padding-bottom: $para;
      // border-bottom: 1px dashed grey;
    }
    blockquote{
      p{
        display: block;
      }
      font-size: 1em;
      font-style: normal !important;
      width: 100%;
      max-height: 200px;
      display: block;
      overflow-y: hidden;
    }
    pre{
      max-height: 200px;
      // overflow-y: hidden;
      overflow: hidden;
      font-family: monospace;
      background: lightgrey;
      padding: 8px;
    }
    p{
      display: none;
    }
    // li:before{
    //   content: "\2192 ";
    //   padding-right: $para/2;
    // }
  }
}
div.commit-content{
  // display: none;
  font-size: 0.8em;
  //padding: $para;
  //border: 1px dashed grey;
  blockquote{
    font-size: 1em;
    font-style: italic;
    border-left: 1px solid grey;
    padding-left: $para;
  }
  a.link-to-commit{
    font-family: monospace;
    font-size: 1.2em;
  }
  img.gravatar{
    display: none;
  }
  pre.code{
    font-family: monospace;
    background-color: grey;
    padding: $para;
  }
}
a.more-commits{
  margin-bottom: $para/2;
  padding-right: $para/2;
}
div.more-git-commits{
  display: none;
}
.lg-hp-highlight{
  p{
    margin-bottom: $para;
  }

}
.hp-highlight{
  text-align: left;
  margin-top: $para;
  margin-bottom: $para;
  @include respond-to($c-vp){
    margin-top: $para*2;
    margin-bottom: $para*4;
    
  }
  span{
    font-family: monospace;
  }
  h2{
    font-family: 'karmillabold';
  }
  li{
    padding: none;
    list-style-type: none;
    margin: none;
    
  }
  ul{
    margin-left: 0px !important;
  }
}
p.micro-para{
  outline: 1px dotted black;
  padding: $para;
  margin-top: $para*2;
  margin-bottom: $para*4;
  font-family: monospace;
  font-weight: bold;
  @include respond-to($c-vp){
    outline: none;
    padding: 0px;
    padding-top: $para/2;
    font-weight: normal;
  }
}
