<!DOCTYPE html>
<html lang="en">
  <head>
      {% block head %}
      <title>{% block title %}colm.be{% endblock title %}</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="initial-scale=1">

      <link rel='shortcut icon' type='image/png' sizes='32x32' href=''>
      <link href="https://post.lurk.org/@colm" rel="me">
      <link rel="stylesheet" href="static/build/screen.css">
      <script src="static/build/jquery-3.2.1.min.js"></script>
      {% endblock head %}
    </head>

    <body>
      <div class="is-typeset">
      {% block nav %}
	     <div class="row-parent">
		       <div class="row">
			          <section class="row__colspaced">
				              <div class="colspan12-2 as-grid with-gutter top">
					                   <b><a href="/">Colm O'Neill</a></b>
				              </div>
				              <div class="colspan12-7 colspan8-5 colspan6-4 as-grid with-gutter">
				              <ul class="nav">
					                  <li><a id="about" href="#">about</a></li>
                            <li><a href="/samples-of-work">samples of work</a></li>
                            <li><a href="/research">research</a></li>
					                  <li><a href="/cv">CV</a></li>
				              </ul>
				              </div>
            </div>
            <div class="about">
              <div class="row">
                <section class="row__colspaced">
                <div class="colspan12-6 colspan6-3 as-grid with-gutters">
                    <p>This website is an aggregation of selected feeds to represent projects as they are developping. Versioning systems (git) and content feeds (atom / RSS) from other publication spaces are brought together to show different elements of practice.</p>

                </div>
              <div class="colspan12-3 colspan6-3 as-grid with-gutters">
                <p>Colm O'Neill works as designer and researcher in Carlow (IE) and Brussels (BE). His work is concerned with mediations of digital literacy through graphical, user and programmatic interfaces. The research and practice that result follow the ideals of free and open source culture models.</p>
              </div>
              <div class="colspan12-3 colspan6-6 as-grid with-gutters">
                <p>currently: 
                  <br>- Lecturer in Design and IT at SETU (Carlow campus)
                  <br>- Doctoral Researcher — Education and Social Justice, Lancaster University
                </p>
                <p>previously:
                  <br>- Member of <a href="osp.kitchen">Open Source Publishing</a>
                  <br>- MA Networked Media from the Piet Zwart Institute in Rotterdam
                  <br>- Graphic Design BA from ENSAV La Cambre Brussels.
                </p>
              </div>
              <div class="colspan12-12 colspan6-6 as-grid with-gutters">
                <hr>
              </div>
            </section>
            </div>
            </div>
        </div>
      {% endblock nav %}

      {% block content %}
      {% endblock content %}
      <br>
      <br>
      <br>
      <br>
      <br>
      {% block footer %}
      <!-- <div class="row-parent">
          <div class="row">
               <section class="row__colspaced">
                 <div class="colspan12-7 push12-2 colspan8-5 colspan6-4 as-grid with-gutter">
                   <ul class="nav">
                     <li><a href="">about</a></li>
                     <li><a href=""></a></li>
                     <li><a href=""></a></li>
                     <li><a href="">CV</a></li>
                   </ul>
                 </div>
               </section>
          </div>
      </div> -->
      {% endblock footer %}
      </div>
    <script src="static/build/main.js"></script>
    </body>
</html>
