{% extends "base.html" %}

{% block content %}
<div class="row-parent">
	<div class="row">
		<section class="row__colspaced">
<div class="colspan12-10 push12-2 as-grid with-gutter">
	<h1><b>Colm O'Neill</b></h1>
</div>
<div class="colspan12-2 as-grid with-gutter">
	<ul style="list-style-type: none;">
		<br>
		<li>O'NEILL Colm</li>
		<li><a href="mailto:mail@colm.be">mail@colm.be</a></li>
		<li><a href="https://post.lurk.org/@colm">@colm@post.lurk.org</a></li>
		<li><a href="https://www.openstreetmap.org/relation/14587154#map=14/52.8344/-6.9175">Co. Carlow, Ireland</a></li>
			<li>personal: <a href="http://colm.be" class="uri"><br>http://colm.be</a></li>
		<li>previous design collective: <a href="http://osp.kitchen" class="uri"><br>http://osp.kitchen</a></li>
		<li>research collective: <a href="https://materialsmatter.ie" class="uri">Materials Matter, Ábhar Ábhar</a></li>

	</ul>
</div>
<div class="colspan12-6 as-grid with-gutter cv">
	<b id="current-function">→ current</b>
	<ul>
	<li>Lecturer in Design and IT, SETU Carlow, dept. of Computing</li>
	<li>Doctoral Researcher in Education and Social Justice (ESJ) at Lancaster University</li>
	<li>Freelance researcher, graphic designer, workshop coordinator, web developer</li>
	</ul>
	<b id="past-education">→ education</b>
	<ul>
	<li>Master degree Media Design and Communications, networked media – Piet Zwart Institute, Rotterdam (2017)</li>
	<li>Bachelor degree Graphic design &amp; visual communications – ENSAV La Cambre, Brussels (2014)</li>
	<li>Photography — INRACI, Brussels (2010)</li>
	</ul>
	<b id="professional-experience">→ professional experience</b>
	<ul>
	<li>Digital education project coordinator, with Carlow County Development Partnership, January 2019 — ongoing</li>
	<li>Education lead, beMaker, March 2018 — December 2018 http://bemaker.eu</li>
	<li>Founding member, Open Source Publishing asbl/vzw, May 2015 - ongoing - <a href="http://www.ejustice.just.fgov.be/tsv\_pdf/2015/03/06/15303975.pdf" class="uri">http://www.ejustice.just.fgov.be/tsv\_pdf/2015/03/06/15303975.pdf</a></li>
	<li>Company manager, consultONE, November 2014 - ongoing - <a href="http://consultone.eu" class="uri">http://consultone.eu</a></li>
	<li>Web designer at tentwelve.com - September 2014 → January 2015</li>
	<li>Web development internship: Constant Mathieu &amp; PLMD - summer 2013 plmd.me</li>
	<li>Graphic design internship Open Source Publishing summer 2012</li>
	</ul>
	<b id="teaching--education-experience">→ teaching &amp; education experience</b>
	<ul>
	<li>Lecturer, Design and IT, dept. of Computing, South East Technological University (SETU) Carlow, 2020 - ongoing</li>
	<li>Assistant Lecturer in Communications, IT Carlow, Carlow Campus, 2019-2020</li>
	<li>Assistant Lecturer in Industrial and Product Design, IT Carlow, Carlow Campus, 2019-2020</li>
	<li>Relearn Rotterdam 2017, edition initiation, coordination with with Manetta Berends, Cristina Cochior, Roel Roscam Abbing and Silvio Lorusso <a href="http://relearn.be/2017" class="uri">http://relearn.be/2017</a></li>
	<li>Hogeschool Gent (HoGent) 2015 with OSP <a href="http://opentools.schoolofarts.be/projecten.html#1" class="uri">http://opentools.schoolofarts.be/projecten.html#1</a></li>
	<li>HTML2print Haute École des arts du Rhin, Strasbourg, with OSP <a href="http://comgraph.hear.fr/2015/03/html-sauce-cocktail/" class="uri">http://comgraph.hear.fr/2015/03/html-sauce-cocktail/</a></li>
	<li>Typojanchi Seoul workshop with OSP October 2013 <a href="http://typojanchi.org/2013/program_en/#contents" class="uri">http://typojanchi.org/2013/program_en/#contents</a> OCR training</li>
	<li>Relearn summer school 2013 project initiation, with OSP. Coordinated track: gesturing paths, relearn.be/r/worksessions::gesturing-paths::notes</li>
	</ul>
	<b id="publications">→ publications</b>
	<ul>
	<li>drawing curved (2018) (co-written with Pierre Huyghebaert) on the nature of digital curvature http//drawingcurved.osp.kitchen</li>
	<li>adversarial.interfaces.site (2017) graduation project, critical research addressing interfaces <a href="http://adversarial.interfaces.site" class="uri">http://adversarial.interfaces.site</a></li>
	<li>tangible.tools (2017) thesis publication, on digital craft http://tangible.tools</li>
	<li>16 case stories: re-imagining the practice of layout (2012) european research project Libre Graphics Research Unit (LGRU) <a href="https://gitlab.constantvzw.org/lgru/co-position-catalog" class="uri">https://gitlab.constantvzw.org/lgru/co-position-catalog</a></li>
	</ul>
	<b id="skill-set">→ skill set</b>
	<ul>
	<li>bilingual English / French &amp; basic knowledge of Dutch</li>
	<li>abilities on GNU/UNIX platform, system implementations, server management</li>
	<li>Python, Javascript, PHP, publishing tool development, code versioning systems</li>
	</ul>
</div>
</section>
</div>
</div>
{% endblock %}
