{% extends "base.html" %}

{% block content %}
<div class="row-parent">
	<div class="row">
		<section class="row__colspaced">
			<div class="colspan12-10 push12-2 as-grid with-gutter">
				<h1 class="title">education, teaching, learning and sharing</h1>
			</div>
		</section>
	</div>
</div>
{% endblock %}
