{% extends "base.html" %}

{% block content %}
<div class="row-parent">
	<div class="row">
		<div class="row__colspaced">
			<div class="lg-hp-highlight colspan12-6 as-grid with-gutter">
			</div>
		</div>
	</div>
		
	<div class="row">
		<div class="row__colspaced">
				{% for entry in commits[0:3] %}
				<div class="hp-highlight colspan12-4 colspan6-3 as-grid with-gutter">
					<ul>
						<a target="_blank" href="{{entry.hreflink}}">
						<li>
						<span>{{entry.updated}}</span><br>
						<h2>{% if entry.commit %}{{entry.commit|striptags}}{% else %}{{entry.title}}{% endif %}</h2>
						{{entry.title}}<br>
						<span>in repo: {{entry.projectname}}</span><br>
						</li>
						</a>
					</ul>
				</div>
				{% endfor %}
		</div>
	</div>


	<div class="row">
		<div class="row__colspaced">
			<div class="colspan12-2 colspan6-6 as-grid with-gutter">
				<p class="micro-para">The items on this page show granular changes to ongoing projects. Click the link to go to the exact update or change in the project. Read more on this in the about section.</p>
			</div>
			<div class="gitgalaxy colspan12-5 colspan6-3 as-grid with-gutter">
	    		<div class="feed">
    		  		<ul>
        				{% for entry in commits[3:12] %}
							<li>
									→<b> "{% if entry.commit %}{{entry.commit|striptags}}{% else %}{{entry.title}}{% endif %}" </b>
									<br>in project: <a href="{{entry.link}}">{{entry.projectname}}</a>
									<div class="commit-content">
										 on: {{entry.updated.strftime('%d.%m.%Y at %H:%M:%S')}} | <a class="link-to-commit" href="{{entry.hreflink}}">link to project change or contribution</a>
									</div>
							</li>
        				{% endfor %}
    			</div>
  			</div>

			  <div class="gitgalaxy colspan12-5 colspan6-3 as-grid with-gutter">
	    		<div class="feed">
    		  		<ul>
        				{% for entry in commits[13:30] %}
							<li>
									→<b> "{% if entry.commit %}{{entry.commit|striptags}}{% else %}{{entry.title}}{% endif %}" </b>
									<br>in project: <a href="{{entry.link}}">{{entry.projectname}}</a>
									<div class="commit-content">
										 on: {{entry.updated.strftime('%d.%m.%Y at %H:%M:%S')}} | <a class="link-to-commit" href="{{entry.hreflink}}">link to project change or contribution</a>
									</div>
							</li>
        				{% endfor %}
    			</div>
  			</div>
		</div>
	</div>
{% endblock %}
