{% extends "base.html" %}

{% block content %}
<div class="row-parent">
	<div class="row">
		<div class="row__colspaced">
			<div class="gitgalaxy colspan12-6 as-grid with-gutter">
    		<!-- <h1 class="title">finished texts:</h1> -->
			<div class="research-intro">In the frame of an ongoing, part-time, structured PhD program in Education and Social Justice, I highlight below a few recent texts that detail some research interests. The structured nature of the program means that the doctoral research proposal comes after an initial two-year study period.</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row__colspaced">
			<div class="colspan12-4 colspan6-3 as-grid with-gutter research-highlight">
					<div class="commit-content"><a class="link-to-commit">May 2022</a></div>
					<h3>Decolonising Digital Learning Technology</h3>
					<p>Abstract:<br>This study asks why and how the transition to online education during the global pandemic almost exclusively meant the adoption of commercial platforms. It also asks what harms the use of so-called tools for education can cause when imposed on learners. I argue that accepting Big Tech into our everyday lives has impact on humans digital rights and more broadly on social justice. Ultimately, I propose three criteria for better software choices: decentralisation, space for individuation and sustainability.</p>
					<a href="https://gitlab.com/colmoneill/social-justice-and-education/-/raw/main/Module-2-ED.S852-Promoting-Social-Justice-through-Education/oneill-colm-decolonising-digital-learning-technologies.odt?ref_type=heads&inline=false">→ link to document</a>
			</div>
			<div class="colspan12-4 colspan6-3 as-grid with-gutter research-highlight">
				<div class="commit-content"><a class="link-to-commit">June 2023</a></div>
				<h3>EdTech as climate criminal</h3>	
				<p>Abstract:<br>This paper discusses the ecological component of using digital technology in the Education sector. It does so by highlighting the many excesses and growth-based attitudes that the commercial stake-
				holders have in this space, and considers the current misleading actions in the “greening” of technology. It considers cases of radical alternatives, and proposes a turn towards ecojustice if technology is to have a space in education at all.</p>
				<a href="https://gitlab.com/colmoneill/social-justice-and-education/-/raw/main/Module-4-ED.S851-Understanding-Social-Justice-Internationally/ed-s851-module-paper-ONEILL-COLM-V1.3.pdf?ref_type=heads&inline=false">→ link to document</a>
			</div>
			<div class="colspan12-4 colspan6-4 as-grid with-gutter research-highlight">
				<div class="commit-content"><a class="link-to-commit">November 2023</a></div>
				<h3>PhD research proposal</h3>
				<p>Abstract:<br>This study aims to assess the potential of permacomputing projects as case studies for cultivating oppositional knowledge for digital justice issues in Ireland. It focuses on both social and ecological concerns related to digital technologies. The study will propose that by highlighting the ecological impact of computing, awareness of related social and digital justice issues will increase. Ireland, with its significant presence of global technology corporations, faces unique digital justice challenges that put strain on national infrastructures and natural ecosystems. <br>...</p>
				<a href="https://gitlab.com/colmoneill/social-justice-and-education/-/raw/main/Module-1-ED.S854-Researching-Social-Justice/2023_11_05-h20-ONEILL-Colm-Wilderland-PhD-Confirmation-document-resub.odt?ref_type=heads&inline=false">→ link to document</a>
			</div>
		</div>
	</div>
</div>
<div class="row-parent">
	<div class="row">
		<br><br><br>
		<div class="row__colspaced">
		<div class="draftFeed colspan12-10 	as-grid with-gutter">	
			<h1	>granular updates:</h1>
		</div>
		<div class="draftFeed colspan12-5  as-grid with-gutter">
			<ul>	
			{% for entry in gitlabresearch[0:9] %}
			<li><a href="#" class="toggle-visible">{{entry.title}}
				<div class="commit-content">
				{{entry.summary|safe}}</a>
				in project: <a href="{{entry.link}}">{{entry.projectname}}</a>
				<br>on: {{entry.updated }}
				<br><a class="link-to-commit" href="{{entry.link}}">go to commit</a>
			</li>	
			{% endfor %}
			</ul>
		</div>
		<div class="draftFeed colspan12-5  as-grid with-gutter">
			<ul>	
			{% for entry in gitlabresearch[10:19] %}
			<li><a href="#" class="toggle-visible">{{entry.title}}
				<div class="commit-content">
				{{entry.summary|safe}}</a>
				in project: <a href="{{entry.link}}">{{entry.projectname}}</a>
				<br>on: {{entry.updated}}
				<br><a class="link-to-commit" href="{{entry.link}}">go to commit</a>
			</li>	
			{% endfor %}
			</ul>
		</div>
		
		</div>
	</div>
</div>

</div>
{% endblock %}
