{% extends "base.html" %}

{% block content %}
<div class="row-parent">
	<div class="row">
		<section class="row__colspaced">
			<div class="colspan12-10 push12-2 as-grid with-gutter">
				<p>scroll to: <br>
					<a href="#book-layout">— layout</a><br>
					<a href="#graphic-design">— graphic design</a><br>
					<a href="#cartography">— cartography</a><br>
					<a href="#web">— web desing & web development</a><br>
					<a href="#research">— research</a><br>
					<a href="#installations">— exhibitions & installations</a><br>
					<a href="#publications">— publications</a><br>
				</p>
				<br><br><br><br><br>
			</div>
		</section>
	</div>
</div>
<div class="row-parent">
	<div class="row">
		<section class="row__colspaced">
			<div class="colspan12-9 push12-3 as-grid with-gutter">
				<!-- <h4  class="title">— Work Samples</h4> -->
			</div>
			<div class="sticky colspan12-3 as-grid with-gutter sticky">
				<ul style="list-style-type: none;">
					<h5 id="book-layout" class="title">— layout</h5>
					<h2>Sell your house and buy gold</h2>
					<li>2013, </i>self edited</b></li>
						<li>Pictures take during two different sessions at the Cocqueries d’Anderlues —Charleroi— Belgium in 2012 and 2013</li>
						<li>Typeset in Absara Thin Regular and italique a font by Xavier Dupré.</li>
						<li>Printed by AJM Print —Ixelles— Brussels Belgium.<br>Free Art Licence http://artlibre.org/licence/lal/en</li>
					</small>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<img src="static/images/samples-of-work/book-layout/IMG_2885-.jpg" alt="">
				<!-- <img src="static/images/samples-of-work/book-layout/IMG_2889-.jpg" alt=""> -->
				<img src="static/images/samples-of-work/book-layout/IMG_2895-.jpg" alt="">
				<img src="static/images/samples-of-work/book-layout/IMG_2896-.jpg" alt="">
				<img src="static/images/samples-of-work/book-layout/IMG_2899-.jpg" alt="">
				<!-- <img class="framed" src="static/images/samples-of-work/book-layout/couv-may-a4-nocrops.jpg" alt=""> -->
				<figcaption><i><b>Sell your house and buy gold, </b>2013, </i>self edited<br><br><br></figcaption>
			</div>
			<div class="colspan12-9 push12-3 as-grid with-gutter">
				<hr>
			</div>
			
			<div class="sticky colspan12-3 as-grid with-gutter ">
				<ul style="list-style-type: none;">
					<h5 class="title">— layout</h5>
					<h2>16 case stories, re-imagining the practice of layout</h2>
					<li>for LGRU, with OSP 2013</li>
					<li>http://aa.lgru.net/pages/Co-position/</li>
					<li>Co-position starts from the urge to rethink page lay-out software from scratch. We felt that lay-out is maybe too path dependent in its way of mimicking 600 years of moveable type practices (and maybe even beyond).</li>
					<li>https://gitlab.constantvzw.org/lgru/co-position-catalog</li>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<img class="" src="static/images/samples-of-work/book-layout/pg_0001.jpg" alt="">
				<img class="" src="static/images/samples-of-work/book-layout/img_4803-small.jpg" alt="">
				<img class="framed" src="static/images/samples-of-work/book-layout/page13c.jpg" alt="">
				<img class="framed" src="static/images/samples-of-work/book-layout/strokefonts.svg" alt="">
				<img class="" src="static/images/samples-of-work/book-layout/pg_0016.jpg" alt="">
				<img class="framed" src="static/images/samples-of-work/book-layout/derouck_detail-3parts.png" alt="">
				<img class="" src="static/images/samples-of-work/book-layout/IMG_4786-small.jpg" alt="">
				<img class="" src="static/images/samples-of-work/book-layout/pg_0019.jpg" alt="">
				<figcaption>16 case stories, reimagining the practice of layout. LGRU, 2013</figcaption>
				<br>
			</div>
			<div class="colspan12-9 push12-3 as-grid with-gutter">
				<hr>
			</div>
			<div class="sticky colspan12-3 as-grid with-gutter ">
				<ul style="list-style-type: none;">
					<h5 class="title">— layout</h5>
					<h2>Mirage</h2>
					<li>Print and web counterparts for out of series magasine.</li>
					<li><a href="http://consultone.eu/archives/mirage/">click here to view the web counterpart</a></li>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<img class="" src="static/images/samples-of-work/book-layout/mir-pg_0001.jpg" alt="">
				<img class="framed" src="static/images/samples-of-work/book-layout/mir-pg_0012.jpg" alt="">
				<img class="side-by-page framed" src="static/images/samples-of-work/book-layout/mir-pg_0026.jpg" alt="">
				<img class="side-by-page framed" src="static/images/samples-of-work/book-layout/mir-pg_0027.jpg" alt="">
				<img class=" framed" src="static/images/samples-of-work/book-layout/mirage/research/pg_4.jpg" alt="">
				<img class=" framed" src="static/images/samples-of-work/book-layout/mirage/research/pg_5.jpg" alt="">
				<img class="side-by-page framed" src="static/images/samples-of-work/book-layout/mirage/research/pg_6.jpg" alt="">
				<img class="side-by-page framed" src="static/images/samples-of-work/book-layout/mirage/research/pg_8.jpg" alt="">
				<img class="framed" src="static/images/samples-of-work/book-layout/mirage/web/mirage-web-home.png" alt="">
				<img class="framed" src="static/images/samples-of-work/book-layout/mirage/web/mirage-web-article.png" alt="">
			</div>
			<hr>
			<div class="colspan12-9 push12-3 as-grid with-gutter">
				<h2>Posters and imagery</h2>
			</div>
			<div class="sticky colspan12-3 as-grid with-gutter">
				<ul style="list-style-type: none;">
					<h5 id="graphic-design" class="title">— graphic design</h5>
					<h2>posters, images, infographics</h2>
					<li>various projects:</li>
					<li>brussels film festival, la foire du livre, Visual Grammar, images for <a href="http://drawingcurved.osp.kitchen">drawing curved</a> (with P. Huyghebaert), research maps, animated graph viz</li>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<!-- <img class="framed" src="static/images/samples-of-work/graphic-design/posters/FischliWeiss.jpg" alt="">
				<img class="framed" src="static/images/samples-of-work/graphic-design/posters/fdlsuite.jpg" alt=""> -->
				<img class="framed" src="static/images/samples-of-work/graphic-design/posters/A1-Couleur-actu-cultu.jpg" alt="">
				<img class="framed" src="static/images/samples-of-work/graphic-design/posters/osp-visual-grammar-poster.png" alt="">
				<img class="framed" src="static/images/samples-of-work/graphic-design/posters/BRFF.jpg" alt="">
				<video src="static/images/samples-of-work/graphic-design/posters/bff2.mp4" controls autoplay poster=""></video>
				<!-- <img class="framed side-by-page" src="static/images/samples-of-work/graphic-design/drawing-curved/carrying-over2.svg.png" alt="">
				<img class="framed side-by-page" src="static/images/samples-of-work/graphic-design/drawing-curved/bezier-carrying1.png" alt="">
				<img class="framed side-by-page" src="static/images/samples-of-work/graphic-design/drawing-curved/four-bar.png" alt="">
				<img class="framed side-by-page" src="static/images/samples-of-work/graphic-design/drawing-curved/projection-3d-2d.png" alt="">
				<img class="framed" src="static/images/samples-of-work/graphic-design/drawing-curved/signature-machine-matrix.png" alt=""> -->
				<img class="framed" src="static/images/samples-of-work/graphic-design/researchingplan.svg" alt="">
				<video class="framed" src="static/images/samples-of-work/graphic-design/out-8faster.webm" controls autoplay poster=""></video>
			</div>
			<hr>
			<div class="colspan12-9 push12-3 as-grid with-gutter">
				<h2 class="title">cartography</h2>
			</div>
			<div class="sticky colspan12-3 as-grid with-gutter sticky">
				<ul style="list-style-type: none;">
					<h5 id="cartography" class="title">— cartography</h5>
					<h2>maps</h2>
					<li>Web map for Médor magasine: conflating Brussels pollution data (NO² levels) with school zones and locations. <a href="https://gitlab.com/colmoneill/brussels-air-schools">view the project on gitlab</a></li>
					<li>Pen plotted maps: <a href="http://blog.osp.kitchen/tools/osm-to-svg.html">OpenStreetMap conversions</a>from XML to SVG then to GCode for 3 axis CNC plotter. With <a href="http://loopstudio.be/">loop studio and J. Dutertre</a></li>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<img class="" src="static/images/samples-of-work/carto/medor-air/_17.png" alt="">
				<img class="framed" src="static/images/samples-of-work/carto/medor-air/_6.png" alt="">
				<img class="" src="static/images/samples-of-work/carto/medor-air/_20.png" alt="">
				<img class="" src="static/images/samples-of-work/carto/medor-air/web1.jpg" alt="">
				<img class="" src="static/images/samples-of-work/carto/medor-air/web2.jpg" alt="">
				<img class="" src="static/images/samples-of-work/carto/plotter/1.jpg" alt="">
				<img class="" src="static/images/samples-of-work/carto/plotter/2.jpg" alt="">
				<img class="" src="static/images/samples-of-work/carto/plotter/3.jpg" alt="">
				<img class="" src="static/images/samples-of-work/carto/plotter/4.jpg" alt="">
				<img class="side-by-page sm-gutter" src="static/images/samples-of-work/carto/plotter/5.jpg" alt="">
				<img class="side-by-page" src="static/images/samples-of-work/carto/plotter/6.jpg" alt="">
				<img class="" src="static/images/samples-of-work/carto/plotter/bunclody-mtleinster.jpg" alt="">
				<img class="" src="static/images/samples-of-work/carto/thebeesneeds-cartography.png" alt="">
				<a href="static/images/samples-of-work/carto/thebeesneeds-cartography.pdf">link to full resolution Bees Needs Carlow Map pdf</a>
 			</div>
			<hr>
			<div class="colspan12-9 push12-3 as-grid with-gutter">
				<h2 class="title">web design / web development</h2>
			</div>
			<div class="sticky colspan12-3 as-grid with-gutter sticky">
				<ul style="list-style-type: none;">
					<h5 id="web" class="title">— web design & development</h5>
					<h2>websites</h2>
					<li>selection of websites designed &/ developped, click links under the iframes to view full site</li>
					<li><b>view most code projects on:</b></li>
					<li><a href="https://gitlab.com/colmoneill">https://gitlab.com/colmoneill</a></li>
					<li><a href="https://gitlab.constantvzw.org/colm">https://gitlab.constantvzw.org/colm</a></li>
					<li><a href="https://github.com/colmoneill">https://github.com/colmoneill</a></li>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<iframe class="framed" src="http://osp.kitchen/" width="100%" height="500px"></iframe>
				<p><a href="http://osp.kitchen/">http://osp.kitchen/</a> redesign & new front end <i>July 2018</i> <a href="https://gitlab.constantvzw.org/osp/tools.visualculture">view on gitlab</a></p>
				<iframe class="framed" src="http://blog.osp.kitchen/" width="100%" height="500px"></iframe>
				<p><a href="http://blog.osp.kitchen/">http://blog.osp.kitchen/</a> content migration and redesing <i>January 2018</i> <a href="http://blog.osp.kitchen/news/reviving-the-osp-blog.html">read the blogpost</a> <a href="https://gitlab.constantvzw.org/osp/tools.osp-blog.www">or view on gitlab</a></p>

				<iframe class="framed" src="http://rodolphejanssen.com/" width="100%" height="500px"></iframe>
				<p><a href="http://rodolphejanssen.com/">http://rodolphejanssen.com/</a> backend, design & front end by V. Janssens <a href="https://github.com/colmoneill/Jason-Scraper">view on github</a></p>
				<iframe class="framed" src="http://esac.be/fr/" width="100%" height="500px"></iframe>
				<p><a href="http://esac.be">http://esac.be</a> full site design and development with V. Janssen and E. Hendricks</p>
				<iframe class="framed" src="https://conseildelamusique.be/" width="100%" height="500px"></iframe>
				<p><a href="https://conseildelamusique.be">https://conseildelamusique.be</a> front end design for <a href="https://www.tentwelve.com/">tentwelve</a>.</p>
			</div>
			<hr>
			<div class="colspan12-9 push12-3 as-grid with-gutter">
				<h2 class="title">research</h2>
			</div>
			<div class="sticky colspan12-3 as-grid with-gutter sticky">
				<ul style="list-style-type: none;">
					<h5 id="research" class="title">— research projects</h5>
					<h2>writing and research</h2>
					<li>Research projects past and present. Visit project sites for more information.</li>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<iframe class="framed" src="http://drawingcurved.osp.kitchen/Pixels_and_lines.xhtml" width="100%" height="500px"></iframe>
				<p><a href="http://drawingcurved.osp.kitchen/foreword.xhtml">http://drawingcurved.osp.kitchen/</a> co authored with P. Huyghebaert and Femke Sneltings</p>
				<p>Drawing Curved is a collection of texts and images concerned with digital curvature. It seeks to understand when a curve starts to be tangible, or what might give a sense that they can or can't be handled. What makes a curve smooth? When does it seem appropriate to interrupt it?</p>
			</div>

			<div class="sticky colspan12-3 as-grid with-gutter sticky">
				<ul style="list-style-type: none;">
					<h5 id="installations" class="title">— exhibitions & installations</h5>
					<h2>set design, digital media installation</h2>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<h2 class="title">Dearly beloved,</h2>
				<p><i>Dearly beloved, we are gathered here today to get through this thing called life.</i></p>
				<a href="https://www.visualcarlow.ie/exhibitions/info/a-collaborative-love-song">https://www.visualcarlow.ie/exhibitions/info/a-collaborative-love-song</a>
				<p>A COLLABORATIVE LOVE SONG</p>
				<b>04 June 2019 - 08 September 2019 — Make and Play at VISUAL Carlow</b>

				<p>from the gallerys communication:<i> Music is a means for people to “get through this thing called life”. In this season’s make and play space, you are invited to write lyrics, perform and record your lyrics and then submit them to a collaborative love song. It has been created by VISUAL Artist in Residence Clare Breen and Colm O’Neill, with original music by Richard Breen.<br>All of the digital material produced for this installation is under copyleft licenses and accessible at https://gitlab.com/breadfellows/dearly-beloved.</i></p>

				<img src="static/images/samples-of-work/installations/VISClareBreen101.jpg" alt="">
				<img src="static/images/samples-of-work/installations/VISClareBreen103.jpg" alt="">
				<img src="static/images/samples-of-work/installations/VISClareBreen108.jpg" alt="">
				<img src="static/images/samples-of-work/installations/VISClareBreen109.jpg" alt="">
				<img src="static/images/samples-of-work/installations/VISClareBreen106.jpg" alt="">
				<img src="static/images/samples-of-work/installations/IMG_20190601_215544.jpg" alt="">
				<img src="static/images/samples-of-work/installations/Screenshot_from_2019-05-31_18-47-27.png" alt="">
			</div>
			<div class="sticky colspan12-3 as-grid with-gutter sticky">
				<ul style="list-style-type: none;">
					<h5 id="installations" class="title">— exhibitions & installations</h5>
					<h2>set design, digital media installation</h2>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<h2 class="title">Irish Tree Alphabet</h2>
				<p>Typeface production and set design, website and in-gallery media design for Katie Holten. <a href="https://visualcarlow.ie/whats-on/irish-tree-alphabet">Irish Tree Alphabet, exhibition at VISUAL Carlow, June-October 2020</a></p>			
				<p>"The project finds its roots in the Ogham alphabet, a medieval alphabet used primarily to write the early Irish language. Ogham's characters or letters were called feda "trees" or nin "forking branches" due to their shape."</p>
				<p><a href="http://irishtreealphabet.ie/">http://irishtreealphabet.ie/</a></p>
				<img src="static/images/samples-of-work/ita/ita11.jpg" alt="">
				<img class="framed" src="static/images/samples-of-work/ita/irishtreealphabet-poster-final.jpg" alt="">
				<img src="static/images/samples-of-work/ita/Floor-Plan.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita12.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita1.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita2.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita3.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita4.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita5.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita6.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita7.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita8.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita9.jpg" alt="">
				<img src="static/images/samples-of-work/ita/ita10.jpg" alt="">
			</div>
			<div class="sticky colspan12-3 as-grid with-gutter sticky">
				<ul style="list-style-type: none;">
					<h5 id="publications" class="title">— publications</h5>
					<h2>publications</h2>
				</ul>
			</div>
			<div class=" samples colspan12-9 as-grid with-gutter">
				<h2 class="title">Fake it, fake you, fake them</h2>
				<img src="static/images/samples-of-work/publications/hnd-fake-it1.jpg" alt="">
				<img src="static/images/samples-of-work/publications/hnd-fake-it3.jpg" alt="">
				<img src="static/images/samples-of-work/publications/hnd-fake-it5.jpg" alt="">
				<img src="static/images/samples-of-work/publications/hnd-fake-it7.jpg" alt="">
				<img src="static/images/samples-of-work/publications/hnd-fake-it11.jpg" alt="">
	</section>
</div>
</div>
{% endblock %}
